.root {
    -fx-font-size: 14px;
    -fx-background-color: #a0a0a0;
    -fx-font-family: "Helvetica";
}

#tabPane {
    -fx-background-color: #dcdcdd;
}

#tabPane Button {
    -fx-pref-width: 100;
    -fx-background-radius: 0,0,0,0;
    -fx-text-fill: black;
}

#tabPane Tab {

}

#tabPane GridPane {
  -fx-padding: 0 10 0 10;
}

.tab{
    -fx-background-color: -fx-background;
    -fx-background: #a0a0a0;
}

.tab:hover{
    -fx-background: #a0a0a0;
}

.tab:selected{
    -fx-background: #dcdcdd;
}
